<%- include('../partials/header') %>

<header>
    <nav id="logout-btn">
        <a id="logout-tag" href="/">Logout</a>
    </nav>
</header>

<img id="home-bubble" src="/images/ConversationBubble.png" alt="Conversation Bubble">
<h1 id="title1">ThoughtFUL...</h1> 

<h2>HOME</h2>

<nav class="index-nav">
    <a href="/new">New Entry</a>
    <a href="/favorites">Favorites</a>
    <a href="/media">Media</a>
    <!-- <a href="/">Logout</a> -->
</nav>

<tbody>
    <% posts.forEach(function(p) { %>
      <tr>
        <td><%= p.title %></td>
        <td><%= p.content %></td>
        <td><%= p.links %></td>
        <td><%= p.comments %></td>
        <form action="/home/<%= p._id %>?_method=PUT" method="POST" >
            <button type="submit">Update</button>
        </form>
        <form action="/home/<%= p._id %>?_method=DELETE" method="POST">
            <button type="submit">Delete Post</button>
        </form>
      </tr>
      <% }); %>
</tbody>



<%- include('../partials/footer') %>