<%- include('../partials/header') %>

<header>
    <nav id="logout-btn">
        <a id="logout-tag" href="/">Logout</a>
    </nav>
</header>

<img id="home-bubble" src="/images/ConversationBubble.png" alt="Conversation Bubble">
<h1 id="title1">ThoughtFUL</h1> 

<h2>HOME</h2>

<div id="index-post" >
    <% posts.reverse().forEach(function(p) { %>
        <div id="post-title"><%= p.title %></div>
        <!-- <div id="post-enum"><%= p.enum %></div> -->
        <div id="post-content"><br><br><%= p.content %></div>
        <div id="post-link"><br><a href="<%= p.links %>"><%= p.links %></a></div>
        <br><div id="date1" ><%= new Date() %></div>
        
        <br><form id="comment-input" action="/home/<%= p._id %>/comment" method="POST"><input id="comment-input2" name="content" type="text">
            <button id="index-submit" type="submit">Add Comment</button></form>
            <a href="/edit/<%= p._id %>">
                <button id="update-btn" type="submit">Update</button>
            </a>
            <form action="/home/<%= p._id %>?_method=DELETE" method="POST">
                <button id="delete-post" type="submit">Delete Post</button></form>
        
                <br><br><br><% p.comments.forEach(comment => { %>
                <div id="comment-text" ><%= comment.content %></div>
                <div id="date" ><%= new Date() %></div>
                <br><form action="/home/<%= comment._id %>/comment?_method=DELETE" method="POST">
                    <button id="delete-comment" type="submit">Delete Comment</button></form>
            <% } ) %>
                <hr>
                <br><br><br>
            </form>
      <% }); %>      
</div>  
   
<nav class="index-nav">
    <a href="/new">New Entry</a>
    <a href="/media">Media</a>
    <a href="/help">Help</a>
    <!-- <a href="/">Logout</a> -->
</nav>





<%- include('../partials/footer') %>