<%- include('../partials/header') %>

<header>
    <nav id="logout-btn">
        <a id="logout-tag" href="/">Logout</a>
    </nav>
</header>

<img id="home-bubble" src="/images/ConversationBubble.png" alt="Conversation Bubble">
<h1 id="title1">ThoughtFUL...</h1> 

<h2>HOME</h2>

<nav class="index-nav">
    <a href="/new">New Entry</a>
    <a href="/favorites">Favorites</a>
    <a href="/media">Media</a>
    <!-- <a href="/">Logout</a> -->
</nav>

<tbody id="post-table" >
    <% posts.forEach(function(p) { %>
      <tr>
        <td id="post-title" ><%= p.title %></td>
        <br><br><td id="post-content" ><%= p.content %></td>
        <td id="post-links" ><a href="<%= p.links %>"><%= p.links %></a></td>
        <td><%= p.createdAt.toISOString() %></td>
        <% p.comments.forEach(comment => { %>
            <td id="post-comments">
                <%= comment.content %>
                <%= comment.createdAt.toISOString() %>
                <form action="/home/<%= comment._id %>/comment?_method=DELETE" method="POST">
                    <button id="delete-btn" type="submit">Delete Comment</button>
            </td> 
            <% } ) %>
        <form action="/home/<%= p._id %>/comment" method="POST"><input name="content" type="text">
            <button type="submit">Submit</button></form>
        <br><br><a href="/edit/<%= p._id %>" method="GET">
            <button id="update-btn" type="submit">Update</button>
      </a>
        <br><form action="/home/<%= p._id %>?_method=DELETE" method="POST">
            <button id="delete-btn" type="submit">Delete Post</button>
        </form>
      </tr>
      <% }); %>
</tbody>



<%- include('../partials/footer') %>