<%- include('../partials/header') %>

<header>
    <nav id="logout-btn">
        <a id="logout-tag" href="/">Logout</a>
    </nav>
</header>

<img id="media-bubble" src="/images/ConversationBubble.png" alt="Conversation Bubble">
<h1 id="title3">ThoughtFUL</h1>

<h2>MEDIA</h2>

<div id="media-post" >
    <% posts.forEach(function(p, index) { %>
        <div id="post-link" ><a href="<%= p.links %>"><%= p.links %></a></div>
        <% if (p.links.length > 0) { %>
            <!-- <br><br><div id="date1" ><%= new Date().toDateString %></div> -->
            <% if (previews && index !== undefined && previews[index] && previews[index].success) { %>
                <div class="preview">
                    <h3><%= previews[index].hostnameMetaTag %></h3>
                    <p><%= previews[index].ogTitle %></p>
                    <img src="<%= previews[index].favicon %>" alt="<%= previews[index].favicon %>">
                    <% if (previews[index].image) { %>
                        <img src="<%= previews[index].image.url %>" alt="<%= previews[index].alt %>">
                    <% } %>
                </div>
            <% } else { %>
                <p>No preview available for this post</p>
            <% } %>
        <% } %> 
        <hr>
        <br><br><br><br>
      <% }); %>
</div>

<nav class="media-nav">
    <a href="/home">Home</a>
    <a href="/new">New Entry</a>
    <a href="/help">Help</a>
    <!-- <a href="/">Logout</a> -->
</nav>
<%- include('../partials/footer') %>